<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <% if micropost.images.attached? %>
      <% micropost.images.each do |image| %>
        <%= image_tag image.variant(resize_to_limit: [500, 500]) %>
      <% end %>
    <% end %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(micropost.created_at) %> 前に投稿：
     <% if current_user?(micropost.user) %>
      <%= link_to "消去", micropost, method: :delete,
                                       data: { confirm: "本当に消去してよろしいですか？" } %>
    <% end %>
  </span>
</li>